@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
}

.image-gallery {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;

}

.image-gallery img {
  max-width: 80%;
  height: auto;
  border-radius: 10%;
  justify-self: center;

}



.nav {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
  color: white;
}

.detailsbody {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 35vh 45vh 5vh;

}

.detailsbody p {
  order: 2;
  font-size: 48px;
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: center;


}

.makerDetails {
  grid-column-start: 2;
  grid-row: 1/2;
  text-align: center;
  align-self: center;

}



.header {


  background-color: lightblue;
  display: grid;
  grid-template-columns: .5fr 3fr .5fr;
  grid-template-rows: 5vh 5vh 5vh;
  text-align: center;
  margin: 0 0 0.4em 0;


}

.title img {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100vw;
}

.makerCard {
  background-color: goldenrod;
  min-height: 20vh;
  border-radius: 20px;
  margin: 1em 1em;
}

.container {
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: center;

  text-align: center;

}

.feature-container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  justify-content: center;

  text-align: center;

}



.flex-top {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 0px;
  column-gap: 25px;


}

.skill-tile h2 {
  display: flex;
  background-color: rgba(145, 28, 28, 0.924);
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.39);

}


.flex-bottom {
  display: flex;
  justify-content: space-around;
  flex-basis: 25vw;

}

.hide {
  display: none;
}

.staticCardInfo:hover+.hide {
  display: block;
  color: black;

}

.staticCardInfo h5 {
  text-align: left;
  padding: -10px 0px 0px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;


}

.staticCardInfo img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  opacity: 0.85;
}

.dropbtn {
  background-color: lightblue;
  color: black;

  font-size: 0.8em;
  border: none;
  line-height: 0.25em;
  text-decoration: none;

}

.dropdown {
  grid-column-start: 3;
  grid-row-start: 3;
  text-decoration: none;

}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #b5afaf;
  color: green;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color: rgb(16, 0, 0);
  padding: 0.5em 0.3em;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  font-size: 1em;
  text-decoration: none;
}

.subheader {
  text-align: center;
  font-size: 2em;
  background: lightgray;
  margin: 0 0 10px 0;
}

Link {
  font-size: 10px;
}

form {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 5vh 0 0 0;

}

.input {
  width: 60%;
  margin: 0.2em 0 2em 0;
}

.hidden {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 3em;
  justify-self: center;
  opacity: 0.0;

}