@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Roboto+Mono:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Roboto+Mono:wght@200;400&family=Tomorrow:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

body {
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1348&q=80");
  background-size: cover;
  opacity: 0.5;
  color: black;

}

.image-gallery {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;

}

.image-gallery img {
  max-width: 80%;
  height: auto;
  border-radius: 10%;
  justify-self: center;

}

a {
  color: black;
  text-decoration: none;
}

.input {
  height: 2vh;
  width: 35vw;
  z-index: 25;
}

.craftercontainer {
  display: flex;
  justify-content: space-evenly;
}

.crafterCard {
  display: grid;
  width: 28vw;
  background-color: rgba(207, 154, 21, 0.7);
  min-height: 35vh;
  margin-top:
    2vh;
  border-radius: 20px;

  padding: 1.5vw;
}

.noresults {
  text-align: center;
  opacity: 0.7
}

.nav {
  background-color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2vw;
  color: white;
}

.detailsbody {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh 45vh 5vh;
  justify-content: center;
  align-items: center;
  margin: 40px
}

.details-image img {
  border-radius: 10%;
  z-index: 5%;
  width: 50vw;
  height: auto;
  object-fit: cover;
}

.details-location {
  font-size: 3vh;

}


.makerDetails {
  grid-column-start: 2;
  grid-row: 1/2;
  text-align: center;
  align-self: center;

}



.header {
  display: grid;
  grid-template-columns: 20vw 40vw 15vw 25vw;
  grid-template-rows: 8vh 8vh;
  height: 30vh;
  text-decoration: none;
  text-align: left;



}

.header img {

  grid-row: 2/3;
  grid-column-start: 3;
  opacity: 0.8;

  padding: 0 auto;
  height: 20vh;
  filter: grayscale(60%);
  align-self: start;
  justify-self: end;
  padding: 0 0 0vh 2vw;
}



.title-text {

  grid-row-start: 3;
  grid-column-start: 1;
  height: 30vh;
  font-size: 7vw;
  width: 80vw;
  font-family: 'Tomorrow', sans-serif;
  align-self: center;
  z-index: -1;
  margin: 3vh 0 0vh 3vw;
  text-shadow: 0 0 10px #b1a008;
  opacity: 1;

}

.zoom {


  transition: transform .2s;
  /* Animation */


}

.description-title {
  font-size: 3vh;
  margin-bottom: 3vh;
}

.description-blurb {
  font-size: 2vh;
  margin-bottom: 1vh;
}

.description-list {
  margin-bottom: 1vh;
  line-height: 1.5vh;

}

.zoom:hover {
  transform: scale(1.15);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.description-container {
  text-align: center;
  font-style: italic;

}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  grid-template-columns: 1fr;

  align-items: center;
  justify-content: center;
  background-color: rgba(207, 154, 21, 0.7);
  min-height: 35vh;
  margin: 0 auto;
  border-radius: 20px;

}

.project-button {
  display: flex;
  justify-content: center;
}

.project-image img {
  border-radius: 10%;
  z-index: 5%;
  width: auto;
  height: 35vh;
  object-fit: cover;

}

.project-details {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.makerCard {
  display: grid;
  width: auto-fill;
  background-color: rgba(207, 154, 21, 0.7);
  min-height: 35vh;
  margin: 0;
  border-radius: 20px;

  padding: 1.5vw;
}

.featureCard {
  display: grid;
  width: 17vw;
  background-color: rgba(118, 114, 104, 0.8);
  min-height: 25vh;
  opacity: 1.0;
  border-radius: 20px;
  border: 0.5px dashed black;
  padding: 1.5vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29vw, 1fr));
  grid-gap: 2vw;
  margin: 0vw 2vw 0 2vw;
}

.feature-container {
  display: flex;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;


}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 8vw 2vh 2vw;

  font-size: 2vh
}

.contact {
  font-size: 1.75vh;
  padding: 1vh 0 10vh 2vw;
  text-align: center
}


.flex-top {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0px;
  column-gap: 25px;


}

.flex-middle {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0px;
  column-gap: 25px;
}

.skill-tile p {
  display: flex;
  background-color: rgba(149, 150, 153, 0.633);
  color: rgba(0, 0, 0, 0.6);
  width: 13vw;
  height: 13vw;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: 0.5px dashed black;
  font-size: 3vh;
  box-shadow: 5px 5px 8px #888888;
  opacity: 0.75;
  text-shadow: 0 0 2px #b1a008;
}


.flex-bottom {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 25vw;

}

.hide {
  display: none;
  color: black;
  height: 30px;
  z-index: 3;

}



.delete {
  display: none;
  color: black;
  height: 30px;
  z-index: 3;

}

.location {
  font-size: 0.75em;

}

.navbar {
  grid-row: 1/3;
  grid-column: 4/5;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  font-size: 2.5vh;
  z-index: 25;
  text-align: right;
  padding: 6vh 2vw 0 0;
  line-height: 4vh;


}

.banner {
  margin: 0 auto;
  padding: 0.5vh 5vw;
  width: fit-content;
  color: rgb(222, 186, 6)
}


.staticFeatureInfo {
  text-align: left;
  padding: -10px 0px 0px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  border-radius: 7%;
  opacity: 1.0;
}

.staticFeatureInfo img {
  object-fit: cover;
  width: 17vw;
  height: 15vh;
  border-radius: 5%;
  opacity: 1.0;
  text-align: center;
  z-index: 0
}

.staticCardInfo {
  text-align: left;
  padding: -10px 0px 0px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  border-radius: 7%;
}

.staticCardInfo img {
  object-fit: cover;
  width: 28vw;
  height: 15vh;
  border-radius: 5%;
  opacity: 1.0;
  text-align: center;
  z-index: 0
}

.icon {
  padding: 10px;
}

.skills-list {

  text-align: center;
  line-height: 1vh;
}

.contact-details {
  font-size: 2vh;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 10px 0;
  margin: 20px 0;

}

.delete {
  opacity: 1;
}

.details-header {
  font-size: 3.5vh;
  margin-bottom: 2vh;
}

.status {
  font-size: 2vh;
  color: rgb(56, 8, 8);
  margin-bottom: 2vh;
}

.option {
  text-align: center;
  padding: 10px;

}

.label {
  padding: 20px 0 0 0;
  font-size: 1.25em;
}

.required {
  color: red
}

.dropbtn {
  background-color: rgb(242, 247, 248, 0);
  color: black;
  display: inherit;
  border: none;
  text-decoration: none;
  grid-row-start: 1;
  grid-column-start: 3;

}

.dropdown {
  grid-column-start: 3;
  grid-row-start: 3;
  text-decoration: none;

}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #b5afaf;
  color: green;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color: rgb(16, 0, 0);
  padding: 0.5em 0.3em;
  text-decoration: none;
  display: block;
  font-size: 0.5em;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  font-size: 1em;
  text-decoration: none;
}

.subheader {
  text-align: center;
  font-size: 3.0vw;
  background: rgb(183, 182, 182);
  margin: -3vh 0 4vh 0;
  padding: 10px;
  color: rgba(0, 0, 0, 1);
  font-family: 'Tomorrow', sans-serif;

}

Link {
  font-size: 10px;
  text-decoration: none;
}

form {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 5vh 0 0 0;

}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  border: 0.5px dashed black;
  border-radius: 10px;
  background-color: rgb(195, 186, 130);
  padding: 2vw;
  font-size: 2vh;
  margin: 3vh 0;
}

.submitbutton {
  border: 0.5px dashed black;
  border-radius: 10px;
  background-color: rgb(195, 186, 130);

  font-size: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.hidden {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 10vh;
  justify-self: center;
  opacity: 0.0;
  text-align: center;

}



.deleted {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 10vh;
  justify-self: center;
  opacity: 0.0;
  text-align: center;
  background-color: black;
  color: white;
  margin: -20vh;
  padding: 5vh;
  z-index: -1;
}

.browse {
  margin: -5vh 0 0 0;
}

.feature {
  margin: 0vh 0 2.5vh 0;
}


@media screen and (max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    margin: 0vw 2vw 0 2vw;
  }
}

@media screen and (max-width: 600px) {
  .makerCard {
    display: grid;
    width: auto-fill;
    background-color: rgba(207, 154, 21, 0.7);
    min-height: 35vh;
    margin: 0;
    border-radius: 20px;

    padding: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .staticFeatureInfo {
    text-align: left;
    padding: -10px 0px 0px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: auto;
    border-radius: 7%;
    opacity: 1.0;
  }
}

@media screen and (max-width: 600px) {
  .staticFeatureInfo img {
    object-fit: cover;
    width: 90vw;
    height: 20vh;
    border-radius: 5%;
    opacity: 1.0;
    text-align: center;
    z-index: 0
  }
}

@media screen and (max-width: 600px) {
  .staticCardInfo {
    display: grid;
    text-align: left;
    padding: -10px 0px 0px 15px;
    background-color: rgba(0, 0, 0, 0.2);

    height: 30px;
    border-radius: 7%;
  }
}

@media screen and (max-width: 600px) {
  .staticCardInfo img {
    object-fit: cover;
    width: 100vw;
    height: auto;
    border-radius: 5%;
    opacity: 1.0;
    text-align: center;
    z-index: 0
  }
}


@media screen and (max-width: 600px) {
  .feature-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;



  }
}


@media screen and (max-width: 600px) {
  .featureCard {
    display: grid;
    width: 90vw;
    background-color: rgba(118, 114, 104, 0.8);
    min-height: 25vh;
    opacity: 1.0;
    border-radius: 20px;
    border: 0.5px dashed black;
    padding: 1.5vw;
    margin: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .skill-tile p {
    display: flex;
    background-color: rgba(149, 150, 153, 0.633);
    color: rgba(0, 0, 0, 0.6);
    width: 20vw;
    height: 20vw;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 0.5px dashed black;
    font-size: 3vh;
    box-shadow: 5px 5px 8px #888888;
    opacity: 0.75;
    text-shadow: 0 0 2px #b1a008;
  }
}

@media screen and (max-width: 600px) {
  .flex-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    margin: 0px;



  }
}

@media screen and (max-width: 600px) {
  .flex-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    margin: 0px;

  }
}

@media screen and (max-width: 750px) {
  .navbar {
    grid-row: 1/3;
    grid-column: 4/5;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    font-size: 3.5vw;
    z-index: 25;
    text-align: right;
    padding: 6vh 2vw 0 0;
    line-height: 4vh;


  }
}

@media screen and (max-width: 700px) {
  .subheader {
    text-align: center;
    font-size: 2.5vh;
    background: rgb(183, 182, 182);
    margin: -3vh 0 4vh 0;
    padding: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Tomorrow', sans-serif;

  }
}

.schedule-text {
  background-color: cornflowerblue;
}